@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

@layer base {
  h1, h2, h3, .heading {
    font-family: "Futura ND", "Helvetica Neue", Helvetica, Arial, "SF Pro Text", -apple-system, system-ui, ui-sans-serif;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, "SF Pro Text", -apple-system, system-ui, ui-sans-serif;
  }
}
